body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background: rgb(59, 63, 147);
    user-select: none;
    overscroll-behavior-y: contain;
}

#word-list {
    text-align: center;
    color: white;
}

    #word-list h2 {

    }

    #word-list ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    #word-list li {
        --font-size: 2.5vw;
        font-size: var(--font-size);
        margin: 2vw;
        cursor: pointer;
    }

#letter-grid {
    --margin: 40px;
    display: grid;
    grid-template-columns: repeat(11, var(--margin));
    gap: 0px;
    background: rgb(255 255 255 / 0.5);
}

.cell {
    --wh: 40px;
    width: var(--wh);
    height: var(--wh);
    text-align: center;
    line-height: 150%;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(59, 63, 147);
}

.letter {
    pointer-events: none;
}

.selected {
    background-color: #aaf;
}

.correct {
    text-decoration: line-through;
}

.correct-cell {
    background-color: rgb(59, 63, 147);
    pointer-events: none;
}

.footer-image {
    float: right;
    width: 25px;
    height: auto;
}

.footer-disclaimer {
    --font-size: 2vw;
    position: absolute;
    bottom: 0;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size);
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

.popup-panel {
    position: fixed;
    bottom: -40vh;
    width: 100%;
    height: 40vh; /* Âûáåðèòå æåëàåìóþ âûñîòó ïàíåëè */
    background: rgb(98, 102, 169);
    z-index: 2000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: bottom 0.5s ease;
}

.button {
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 15px;
    width: 60vw;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.button:hover {
    background: rgb(120, 120, 120);
}

@media (max-width: 440px) {
    #letter-grid {
        --margin: 30px;
    }

    .cell {
        --wh: 30px;
    }

    .footer-disclaimer {
        --font-size: 3vw;
    }

    #word-list li {
        --font-size: 2vw;
    }
}
