body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: rgb(59, 63, 147);
    text-align: center;
    color: white;
    padding: 10px 0;
    height: 500px;
}

.header-text {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}

.container {
    max-width: 100%;
}

.draggable {
    position: absolute;
    left: 50%;
}

.columns {
    display: flex;
}

.target {
    position: relative;
    text-align: center;
}

.target-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.target3-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-panel {
    background: rgb(59, 63, 147);
    border-radius: 15px;
    height: 75px;
}

.popup-panel {
    position: fixed;
    bottom: -40vh;
    width: 100%;
    height: 40vh; /* Выберите желаемую высоту панели */
    background: rgb(98, 102, 169); /* Прозрачный фон */
    z-index: 2000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: bottom 0.5s ease;
}

.panel {
    background: rgb(54, 60, 181);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.button {
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.button:hover {
    background: rgb(120, 120, 120);
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 5px;
}

.footer-text {
    color: rgb(72, 72, 72);
    font-weight: bold;
    font-size: 13px;
}

.footer-disclaimer {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-image {
    float: right;
    width: 25px;
    height: auto;
}

.game-panel {
    border-radius: 15px;
    padding: 100px;
    margin: 20px;
    text-align: center;
}

.main-content {
    display: flex;
}

.column {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}

.draggable {
    position: absolute;
    cursor: grab;
}

.result-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    display: none;
}

/*
    var(--tg-theme-bg-color)
    var(--tg-theme-text-color)
    var(--tg-theme-hint-color)
    var(--tg-theme-link-color)
    var(--tg-theme-button-color)
    var(--tg-theme-button-text-color)
*/
