body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: rgb(59, 63, 147);
    text-align: center;
    color: white;
    padding: 10px 0;
    height: 80vh;
}

.header-text {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}

.container {
    max-width: 100vw;
}

.draggable {
    cursor: grab;
    position: absolute;
    left: calc(50vw - 35px);
}

.columns {
    display: flex;
    padding: 5vw;
    column-gap: calc(30vw - 7.5vw);
    column-count: 3;
}

.target {
    position: relative;
    --top-value: 20vh;
    top: var(--top-value);
    text-align: center;
}

.footer-text {
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.footer-disclaimer {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.target-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.game-panel {
    position: absolute;
    background: rgb(59, 63, 147);
    border-radius: 30px;
    height: 0vh;
}

.popup-panel {
    position: fixed;

    bottom: -40vh;
    width: 100%;
    height: 40vh; /* Выберите желаемую высоту панели */
    background: rgb(98, 102, 169);
    z-index: 2000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: bottom 0.5s ease;
}

.panel {
    background: rgb(54, 60, 181);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1 {
    --font-size: 24px;
    font-size: var(--font-size);
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    --font-size: 15px;
    font-size: var(--font-size);
}

.button {
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 15px;
    width: 60vw;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.button:hover {
    background: rgb(120, 120, 120);
}

.game-button {
    cursor: pointer;
    background-color: #333;
    color: white;
    height: 20vh;
    width: 60vw;
    border-radius: 10px;
    display: inline-block;
    margin: 2vh;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.game-button:hover {
    background: rgb(120, 120, 120);
}

footer {
    background-color: #f0f0f0;
    text-align: center;
}

.footer-image {
    float: right;
    width: 25px;
    height: auto;
}

.game-panel {
    border-radius: 15px;
    padding: 10vh;
    margin: 20px;
    text-align: center;
}

.main-content {
    display: flex;
}

@media (max-width: 600px) {
    .target {
        --top-value: 40vh;
    }

    p {
        --font-size: 10px;
    }

    h1 {
        --font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .target {
        --top-value: 30vh;
    }

    p {
        --font-size: 12px;
    }

    h1 {
        --font-size: 20px;
    }
}



/*
    var(--tg-theme-bg-color)
    var(--tg-theme-text-color)
    var(--tg-theme-hint-color)
    var(--tg-theme-link-color)
    var(--tg-theme-button-color)
    var(--tg-theme-button-text-color)
*/
